body{
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #f3e7e9, #f9dbd8, #ffd3c6, #ffc1b3, #ffaf9f);
}

.bubble {
  position: absolute;
  overflow-y: hidden;
  
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.247);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  animation: float 3s infinite;
}

@keyframes float {
  0% {
    top : 92%;
  }
 
  100% {
    top : 0%;
  }
}
